.rules-page-container{
    background-color:rgba(0,0,0,0.5);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .rules-page-inner{
        letter-spacing: 1.2px;
        line-height: 1.5em;
        height:60%;
        overflow: scroll;
        width:60%;

        .span{
            font-weight:1800;
        }
    }
}