body {
  font-family: 'Open Sans Condensed';
  padding: 0;
  margin: 0;
  position: relative;
  background-color: black;
}

a {
  text-decoration: none;
  color: blue;
}

* {
  box-sizing: border-box;
}

.app-main-container{
  background-color: antiquewhite;
  height:100vh;
  width:100%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/test-50de2.appspot.com/o/illustration-geometric-shapes-with-neon-laser-lights-great-backgrounds-wallpapers.jpg?alt=media&token=c471d71b-5e88-4fd4-a256-0762ba38492e');
  background-position: center;
  background-size: cover;
  animation: filter 10s linear infinite;
  position: absolute;

}

@keyframes filter{

  0%{
    filter: hue-rotate(34.1turn);
    opacity: 1;
  }
  10%{
    filter: hue-rotate(34.2turn);
    opacity: 1;
  }
  20%{
    filter: hue-rotate(34.3turn);
    opacity: 1;
  }
  30%{
    filter: hue-rotate(34.4turn);
    opacity: 1;
  }
  40%{
    filter: hue-rotate(34.5turn);
    opacity: 1;
  }
  50%{
    filter: hue-rotate(34.6turn);
    opacity: 1;
  }
  60%{
    filter: hue-rotate(34.7turn);
    opacity: 1;
  }
  70%{
    filter: hue-rotate(34.8turn);
    opacity: 1;
  }
  80%{
    filter: hue-rotate(34.9turn);
    opacity: 1;
  }
  90%{
    filter: hue-rotate(35.0turn);
    opacity: 1;
  }
  100%{
    filter: hue-rotate(35.1turn);
    opacity: 1;
  }

}

