
.three-task-page{
    overflow-x:hidden; 
    background-image:url('https://firebasestorage.googleapis.com/v0/b/crwn-db-e8117.appspot.com/o/p3.jpeg?alt=media&token=a70b0c43-056e-44d7-811c-ead79a97a700');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:97vw;
    height:90vh;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    .inside-book{
        .task-page-heading{
            justify-content: flex-end;
            padding: 0px 10px;
        }
        background-color:transparent;
        height:60%;
        width:40%;
        transform: translate(-55px);
        text-align:justify;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
        
    }

    .outside-book{
       padding:1em; 
    }
    
}
