
.one-task-page{
    
    background-image:url('https://firebasestorage.googleapis.com/v0/b/test-50de2.appspot.com/o/levl.jpg?alt=media&token=63dee4e3-9ac3-4065-bfc8-4b7d16cb1558');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:97vw;
    height:90vh;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    .inside-book{
        .task-page-heading{
            justify-content: flex-end;
            padding: 0px 10px;
        }
        background-color:transparent;
        height:60%;
        width:40%;
        transform: translate(-30px);
        text-align:justify;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
        
    }

    .outside-book{
       padding:1em; 
    }
    
}
